daemon off;

<% if ENV['DEBUG'] == 'on' %>
pid /var/log/nginx/nginx.pid;
<% end %>

worker_processes <%= ENV['NGINX_WORKERS'] || 4 %>;

events {
    use epoll;
    accept_mutex on;
    worker_connections 1024;
}

http {
    gzip on;
    gzip_comp_level 2;
    gzip_min_length 512;

    server_tokens off;

    log_format l2met 'measure#nginx.service=$request_time request_id=$http_x_request_id';
    <% if ENV['DEBUG'] == 'on' %>
    access_log /var/log/nginx/access.log l2met;
    error_log /var/log/nginx/error.log;
    <% else %>
    access_log logs/nginx/access.log l2met;
    error_log logs/nginx/error.log;
    <% end %>

    include mime.types;
    default_type application/octet-stream;
    sendfile on;

    client_body_timeout 5;

    <% if ENV['DEBUG'] == 'on' %>
    upstream frontend {
        server unix:/tmp/webpack.socket fail_timeout=0;
    }
    <% else %>
    upstream backend {
        server unix:/tmp/nginx.socket fail_timeout=0;
    }
    <% end %>

    index index.html;

    server {
        listen <%= ENV['PORT'] || 80 %>;
        server_name _;
        keepalive_timeout 5;

        location /static {
            alias <%= ENV['STATIC_ROOT'] %>;
        }

        location ~ ^/(api|admin)/ {
            resolver 127.0.0.11;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header Host $host;
            proxy_redirect off;
            set $backend <%= ENV['BACKEND_ADDRESS'] %>;
            proxy_pass http://$backend;
        }

        <% if ENV['DEBUG'] == 'on' %>
        location / {
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header Host $host;
            proxy_redirect off;
            proxy_pass http://frontend;
        }
        <% else %>
        location / {
            root <%= ENV['FRONTEND_ROOT'] %>;
        }
        <% end %>
    }
}
